<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, dolores
        itaque autem ea eligendi in a quisquam similique nesciunt eius minima,
        aspernatur ab iusto omnis quas nobis! Reiciendis, minus amet.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        doloremque qui, voluptatibus ad omnis asperiores iste distinctio magni,
        autem dignissimos saepe, doloribus exercitationem ea. Voluptatibus
        dignissimos quas velit enim totam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
        minus? Cumque fuga explicabo quas, quod optio porro eum eaque sit,
        incidunt minima nobis beatae. Molestias rem iure autem voluptatem
        tempora.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
